* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Colour pallet */
/* Background: #415762 */
/* Nav: #29363D */
/* Links: #F49F0A */
/* Accent: #3CBBB1 */
/* Text?: #7F96FF */


body {
    display: flex;
    background-color: #415762;
}

nav {
    width: 25vw;
    height: 100vh;
    background-color: #29363D;
}

.profilePicture {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 3px solid #3CBBB1;
    background-color: red;
}

.pictureHeader {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profileName {
    color: white;
    margin-top: 20px;
}

.title h2 {
    color: white;
}

section h2 {
    font-size: 23pt;
}

.pictureHeader {
    margin-top: 50px;
}


header {
    width: auto;
    height: 100px;
    width: 100%;
    position: relative;
    font-size: 20pt;
    padding: 25px;
    background-color: #3CBBB1;
    display: flex;
    justify-content: flex-start;
    justify-items: center;
}

.title {
    color: white;
}

main {
    width: 100%;
}

section {
    padding: 25px;
    padding: 50pt 100pt;
}

p {
    color: #eaecf3;
    font-size: 14pt;
}

a {
    color: #F39F0A;
}

h1 {
    font-size: 22pt;
}

h1, h2, h3, h4 {
    color: #3CBBB1;
}

.navList {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50%;
}

.navItem {
    border-bottom: 1px solid ;
    color: #3CBBB1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 100px;
    padding: 20px;

    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #29363d 50%, #3cbbb1 50%);
    -webkit-transition: background-position 0.5s;
    -moz-transition: background-position 0.5s;
    transition: background-position 0.5s;
}

.navItem:hover {
    background-position:0  100%;
}