<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>Page</title>
  </head>

  <body>
    <nav>
      <div class="pictureHeader">
        <div class="profilePicture">
          {{!-- <img
            src="https://avatars.githubusercontent.com/u/89587488?v=4"
            alt="picture"
          /> --}}
        </div>

        <div class="profileName">
          <h2>Namn Namnsson</h2>
        </div>
      </div>
      <div class="navList">
        <a href="/" class="navItem">
          Home
        </a>
        <a href="/about" class="navItem">
          About
        </a>
        <a href="/posts" class="navItem">
          Posts
        </a>
        <a href="/projects" class="navItem">
          Projects
        </a>
        <a href="/contact" class="navItem">
          Contact
        </a>
      </div>
    </nav>

    <main>
      {{{body}}}
    </main>
  </body>

</html>