<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    {{! <link rel="stylesheet" href="/style.css" /> }}
    <link rel="stylesheet" href="/styleNew.css" />
    <title>Albins Crib</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a href="/" class="navbar-brand">Albins Crib</a>
        <form class="d-flex" method="GET" action="/search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
            name="search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
          {{#if session.loggedIn}}
            <a href="/logout" class="btn btn-outline-danger">Logout</a>
          {{else}}
            <a href="/login" class="btn btn-outline-success">Login</a>
          {{/if}}
        </form>
      </div>
    </nav>
    <div class="container">

      <div class="row align-items-start">
        <div class="col-sm-3">
          <ul class="list-group">
            <a href="/" class="list-group-item">Home</a>
            <a href="/posts" class="list-group-item">Blog posts</a>
            <a href="/projects" class="list-group-item">Projects</a>
            <a href="/about" class="list-group-item">Resume</a>
            <a href="/contact" class="list-group-item">Contact</a>
          </ul>
        </div>
        <div class="col col-sm-9">
          <main>
            <div class="container">
              {{{body}}}
            </div>
          </main>
        </div>
      </div>
    </div>
  </body>

</html>