<section>
  <h1>Resume</h1>

  <h2>Biography</h2>

  I am a 20 year old student from Sweden. I am currently studying at Jönköping
  University, where I am studying a bachelor's degree in computer science. I
  have a passion for programming and I am always looking for new challenges.
  I am currently looking for a internship as a software developer.

  <h2>Work experience</h2>

  <div class="card">
    <div class="card-body">
      <h3 class="card-title">
        RPC Berry superfos
      </h3>
      <h4 class="card-subtitle">
        Operator
      </h4>
      <p class="card-text">
        Plastic packaging production
      </p>
    </div>
    <div class="card-footer">
      march 2022 - present
    </div>
  </div>

  <h2>Education</h2>

  <div class="card mb-3">
    <div class="card-body">

      <h3 class="card-title">
        Jönköping University
      </h3>
      <h4 class="card-subtitle">
        Bachelor's degree
      </h4>
      <p class="card-text">
        Software Engineering and Moblie Platforms
      </p>
    </div>
    <div class="card-footer">
      2021 - 2024
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h3 class="card-title">
        Erik Dahlbergsgymnasiet
      </h3>
      <h4 class="card-subtitle">
        Teknikprogrammet
      </h4>
      <p class="card-text">
        Information och medieteknik
      </p>
    </div>
    <div class="card-footer">
      2018 - 2021
    </div>
  </div>

  <h2>Certificates</h2>
  <div class="row">

    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">
            Målvaktstränarutbildning B
          </h3>
          <h4 class="card-subtitle">
            Svenska Fotbollförbundet
          </h4>
        </div>
        <div class="card-footer">
          2020
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">
            Tränarutbildning C
          </h3>
          <h4 class="card-subtitle">
            Svenska Fotbollförbundet
          </h4>
        </div>
        <div class="card-footer">
          2018
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">

      <h2>Skills</h2>

      <ul class="list-group">
        <li class="list-group-item">
          JavaScript
        </li>
        <li class="list-group-item">
          HTML
        </li>
        <li class="list-group-item">
          CSS
        </li>
        <li class="list-group-item">
          React
        </li>
        <li class="list-group-item">
          Node.js
        </li>
        <li class="list-group-item">
          C/C++
        </li>
        <li class="list-group-item">
          Java
        </li>
        <li class="list-group-item">
          C#
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <h2>Interests</h2>
      <ul class="list-group">
        <li class="list-group-item">
          Football
        </li>
        <li class="list-group-item">
          Programming
        </li>
        <li class="list-group-item">
          Hunting
        </li>
      </ul>
    </div>
  </div>

</section>