
<h1>Are you sure you want to delete this project?</h1>

{{#if session.loggedIn }}
<section>
  <form action="/projects/{{id}}/delete" method="POST">
    <button type="submit" class="btn btn-danger">Delete</button>
  </form>

  <a href="/posts/{{post.id}}" class="btn btn-primary">Go back</a>
</section>
{{/if}}

{{#unless session.loggedIn}}
<section>
  <h3>You need to be logged in to delete a project</h3>
</section>
{{/unless}}