<h1>Posts</h1>

<div class="grid">
  {{#each posts}}
    <a href="/posts/{{id}}">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">{{title}}</h2>
          <p class="card-text text-truncate">{{content}}</p>
        </div>
      </div>
    </a>
  {{/each}}
</div>
<div class="center">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>

</div>