<header>
  <div class="title">
    <h1>Projects</h1>
  </div>
  {{#if session.loggedIn}}
    <a href="/projects/create" class="btn btn-primary">New Project</a>
  {{/if}}
</header>

<section>

</section>