<header>
  <div class="title">
    <h1>Projects</h1>
  </div>
  {{#if session.loggedIn}}
    <a href="/projects/create" class="btn btn-primary">New Project</a>
  {{/if}}
</header>

<section>

  {{#each projects}}
    <div class="card mb-4 mt-4">
      <div class="card-img-top justify-content-center">
        <div class="center">
          <img src="/images/{{imgSource}}" alt="{{title}}" class="img img-fluid" />
        </div>
      </div>
      <div class="card-body">
        <h2 class="card-title">{{title}}</h2>
        <a href="/projects/{{id}}" class="card-link">Read more</a>
      </div>
    </div>
  {{/each}}

</section>