<section>
  <h1>Welcome</h1>

  <p>
    Welcome to Albins Crib, a place where you can find all the information you need about me.
  </p>
  <p>
    I am a software engineering student at Jönköping University. I am currently in 
    my second year of studies and I am looking forward to learn more about software engineering.
  </p>
  <p>
    Here you can find my CV, information about my various projects and blogposts about my various interest.
  </p>
</section>