* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/* --background-color: #415762; */


/* --accent-color: #3CBBB1; */

:root {
    --background-color: #2f3e47;
    --nav-color: #29363D;
    --accent-color: #3CBBB1;
    --link-color: #F49F0A;
    --text-color: #F4F1DE;
}

body {
    display: flex;
    background-color: var(--background-color) !important;
    border-radius: 10px;
}

nav {
    width: 25vw;
    height: 100vh;
    background-color: var(--nav-color);
}

.profilePicture {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 3px solid var(--accent-color);
    background-color: red;
}

.profilePicture img {
    width: 100%;
    height: 100%;
    border-radius: 100px;
}

.pictureHeader {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profileName {
    color: white;
    margin-top: 20px;
}

.title h2 {
    color: white;
}

section h2 {
    font-size: 23pt;
}

.pictureHeader {
    margin-top: 50px;
}

header {
    width: auto;
    height: 100px;
    width: 100%;
    position: relative;
    font-size: 20pt;
    padding: 25px;
    background-color: var(--accent-color);
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    border-radius: 0 0 10px 0;
}

.title {
    color: white;
}

main {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}

section {
    padding: 25pt 25pt;
}

p {
    color: #eaecf3;
    font-size: 14pt;
}

li {
    color: #eaecf3;
    font-size: 14pt;
    text-indent: 12pt;
    line-height: 1;
}

a {
    color: var(--link-color);
    text-decoration: none !important;
}

h1 {
    font-size: 22pt;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--accent-color);
}

h5 {
    font-size: 10pt;
}

.navList {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50%;
}

.navItem {
    border-bottom: 1px solid;
    color: #3CBBB1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 100px;
    padding: 20px;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, var(--nav-color) 50%, var(--accent-color) 50%);
    -webkit-transition: background-position 0.5s, border-radius 0.5s;
    -moz-transition: background-position 0.5s, border-radius 0.5s;
    transition: background-position 0.5s, border-radius 0.5s;
}

.navItem:hover {
    background-position: 0 100%;
    border-radius: 5px;
}

.card {
    background-color: var(--nav-color) !important;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid var(--accent-color);
}

.card-title {
    color: var(--accent-color);
    font-size: 20pt;
}

h5.card-footer {
    color: var(--accent-color);
    font-size: 10pt;
}

.card:hover {
    border: 1px solid var(--link-color);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination>li>a {
    background-color: var(--nav-color);
    color: var(--link-color);
    border-color: var(--accent-color);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title h2 {
    font-size: 40pt;
}

p {
    font-size: 14pt;
    white-space: pre-line;
}

.form-control {
    background-color: var(--nav-color) !important;
    color: var(--text-color) !important;
    border: 1px solid var(--accent-color) !important;
}

textarea {
    resize: both;
    height: 200px;
}


/* Responsive */

@media screen and (max-width: 1200px) {
    nav {
        width: 100%;
        position: fixed;
        bottom: 0;
        height: auto;
        flex-direction: row;
    }
    .navList {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        padding: 20px 20px 0 20px;
    }
    .navList .navItem {
        font-size: 12pt;
        height: 20px;
    }
    .pictureHeader {
        display: none;
    }
    .profilePicture {
        width: 50px;
        height: 50px;
        border-radius: 100px;
        margin-bottom: 50px;
        border: 3px solid var(--accent-color);
        background-color: red;
        display: none;
    }
    .profileName {
        color: white;
        display: none;
    }
}